.calendarWrapper {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.confirmBtnWrapper {
  padding: 12px 16px;
  /* 增加底部安全区域适配，如果是 iPhone 全面屏 */
  padding-bottom: calc(12px + env(safe-area-inset-bottom));
  border-top: 1px solid #f5f5f5;
}