.container {
  min-height: 100vh;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.buttonGroup {
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  margin-top: 40px;
}
